@font-face {
    font-family: lato;
    font-style:normal;
    font-weight:200;
    src:url(../images/fonts/Lato-Light.ttf) format('truetype');
}

:root {
    --color-white: #ffffff;
    --color-red: #eb4d4c;
    --color-grey: #5f5e5e;
    --color-light-grey: #b9b9b9;
    --color-pink: #e1a1ac;
}

body {
    font-family: 'lato';
    color: var(--color-grey);
}

.background {
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    position: absolute;
    z-index: 0;
}

.background div {
    flex: 1;
}

.background div.active {
    background-color: var(--color-light-grey);
    opacity: 30%;
} 

main {
    z-index: 1;
    position: relative;
}

.pink {
    color: var(--color-pink);
    margin: 0.5rem;
    text-align: center;
}

.text {
     font-size: 4em;
}

svg.pink {
    width: 20px;
}

.pink path {
    color: var(--color-pink);
}

.player {
    font-size: 3em;
    position: relative;
}

.edit-button1 {
    left: -20px;
}
.edit-button2 {
    right: -20px;
}

.mark {
    align-items: center;
    position: absolute;
    top: 50%;
    height: 20px;
    background: var(--color-red);
    border-radius: 50%;
    width: 20px;
}

.active-mark1 {
    transform: translate(50%,-50%);
}

.active-mark2 {
    transform: translate(-150%,-50%);
}

.player:not(.active) {
    color: var(--color-light-grey);
}

.player:not(.active) .active-mark1,.player:not(.active)  .active-mark2 {
    visibility: hidden;
}

.dice {
    width: 7vw;
    background: var(--color-white);
    box-shadow: 10px 10px 15px var(--color-light-grey);
}

.dice-dots {
    color: var(--color-red); 
}

.red,
.red p {
    font-size: 1.5em;
    background-color: var(--color-red);
    color: var(--color-white);
}

.red p:first-child {
    color: var(--color-grey); 
    font-size: 1em;
}

.announcement {
    position: fixed;
    top: 5px;
    font-size: 2em;
    color: var(--color-grey); 
    white-space: nowrap;
    animation: announce 20s 1 linear;
}

@keyframes announce {
    0% {
        transform: translate3d(100vw,0,0);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}

.animatedScorep1,
.animatedScorep2 {
    animation: anime-score 0.3s linear ;
}
 
 .p1AddingDice {
    animation: dice-p1 0.3s linear ;
 }
 
 .p2AddingDice {
    animation: dice-p2 0.3s linear ;
 }
 
@keyframes anime-score {
    0% {
        transform: translate3d(0,0,0);
    }
    50% {
        transform: translate3d(0, -62px, -135px);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --mov-Y-small: 7vh;
    }

    .animatedScorep1,
    .p1AddingDice {
        animation: small-p1 0.3s linear ;
    }

    .animatedScorep2, 
    .p2AddingDice {
        animation: small-p2 0.3s linear ;
    }
    
    body { 
       font-size: 0.5em; 
    }
 }

@keyframes dice-p1 {
    0% {
        transform: translate3d(0,0,0);
    }
    50% {
        transform: scale(0.5) translate3d(-30vw, 40vh, 1000px);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}

@keyframes dice-p2 {
    0% {
        transform: translate3d(0,0,0);
    }
    50% {
        transform: scale(0.5) translate3d(30vw, 40vh, 1000px);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}

@keyframes small-p1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(calc(var(--mov-Y-small) * -1));
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes small-p2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(var(--mov-Y-small));
    }
    100% {
        transform: translateY(0);
    }
}


